/*		Default Layout: 960px.
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/








/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {







}
















/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (min-width: 992px) {

#mainNav{
	padding-top: 1.5rem ;
	padding-bottom: 1.5rem ;
	-webkit-transition: padding-top .3s,padding-bottom .3s;
	transition: padding-top .3s,padding-bottom .3s;
}
#mainNav .navbar-brand{
   font-size: 2em ;
	 -webkit-transition: font-size .3s;
	 transition: font-size .3s;

}
#mainNav.navbar-shrink {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #fff;
    background: #18bc9c;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #18bc9c;
}
header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
}
.masthead h1{
	font-size: 4.75em ;
	line-height: 4rem ;

}
#mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}
section h2{
		font-size: 3rem ;
		line-height: 2.5rem ;
		font-weight: bold;

}












}


@media only screen and (min-width: 576px) {

portfolio .portfolio-item{
margin-bottom: 30px ;

}





}



@media only screen and (min-width: 301px) and (max-width: 531px) {










}
@media only screen and (min-width: 301px) and (max-width: 400px) {









}









/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (min-width: 300px) {





}










/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 200px) and (max-width: 350px) {










}


/*	Retina media query.
	Overrides styles for devices with a
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {















}
